<<<<<<< HEAD
<div class="no-questions">
    <img src="/assets/no-questions.svg" alt="Sem perguntas" />
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
</div>
=======
<div class="no-questions">
    <img src="/assets/no-questions.svg" alt="Sem perguntas" />
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
</div>
>>>>>>> b83758e74df287c14007443e70c1a368ae59d90a
